/* Wingdings Regular */
@font-face {
    font-family: "Wingdings";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/wingdings-regular.woff2") format("woff2");
}

/* Wingdings Bold */
@font-face {
    font-family: "Wingdings";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/wingdings-bold.woff2") format("woff2");
}


